.review-box {
    display: block;
    position: relative;
    padding: 1.25rem 2rem 1.25rem 5rem;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    margin: 0 0 2rem 0;
}
.review-box_avatar {
    position: absolute;
    left: 1.2rem;
    top: 1.25rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.review-box_author-name {
    font-size: 1.6rem;
    margin: 0;
    line-height: 3rem;
}
.review-box_header {
    margin: 0;
    font-size: 0.8rem;
}
.review-box_creation-date {
    font-size: 0.8rem;
    color: #aaa;
    margin: 0 0 0.5rem 0;
}
.review-box_text {}
.review-box_summary {
    font-size: 1.2rem
}