.card{
    margin-bottom: 1.2rem;
}

.thumb{
    margin-right: 0.7rem;
    width: 60px;
    height: 60px;
}

.thumb img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.close-icon{
    position: absolute;
    top: 0px;
    left: calc(100% - 31px);
    z-index: 1;
}

.close-icon .btn{
    padding: 5px 10px;
}
.review-object{
    font-size: 0.8rem;
}