.card{
    margin-bottom: 1.2rem;
}

.thumb img{
    max-width: 50px;
    margin-right: 1rem;
}

.close-icon{
    position: absolute;
    top: 0px;
    left: calc(100% - 31px);
    z-index: 1;
}

.close-icon .btn{
    padding: 5px 10px;
}
.review-object{
    font-size: 0.8rem;
}