dialog {display: none;}
dialog[open] {display: block;}

.m3-modal {
  position: fixed;
  border: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: rgba(0,0,0,0.3);
  width: auto;
  height: auto;
  z-index: 10;
  text-align: center;
}
.m3-modal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  widows: 0;
  height: 100%;
}
.m3-modal_inner {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.m3-modal_inner._size-a {
  width: 320px;
  background: #fff;
  padding: 32px;
}