<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-8 mx-auto">
      <div class="mb-4 text-center">
        <button class="btn btn-info btn-circle"
                (click)="goTo(0)"
                [disabled]="showFindPlace"
                [class.active]="showFindPlace"
        ><i class="fas fa-map-marker-alt"></i></button>
        <span class="separator"></span>
        <button class="btn btn-info btn-circle" [class.active]="!showFindPlace" disabled>
                <!--(click)="goTo(1)"-->

        <i class="fas fa-star"></i></button>
      </div>
      <app-find-place
          *ngIf="showFindPlace"
          (chosenLocation)="locationChosen($event)"
          [model]="locationModel"
      ></app-find-place>
      <app-new-review *ngIf="!showFindPlace" [place]="locationModel"
      ></app-new-review>
    </div>
  </div>
</div>