
.profile-pic{
    max-width: 100px;
    margin: 1rem auto;
}

.card{
    position: sticky;
    top: 5.4rem;
    margin: 0 0 2rem 0;
}

.card-follow{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}

.card-follow .value{
    font-size: 1.8rem;
    margin-left: 4%;
}
