<div class="container">
    <div>
        <p>*[temporary] Filter of a reviews</p>
        <input type="text" placeholder="Filter" value="{{query}}"/>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-5">
            
        </div>
        <div class="col-sm-6 col-md-7">
            <!--REVIEW LIST GOES HERE-->
            <p>*[temporary] Other Profile Links</p>
            <ol>
                <li *ngFor="let webId of profileLinks; index as i;" >
                    <a [routerLink]="['/legend']" [queryParams]="{ webId: webId }">Profile {{i}}</a>
                </li>
            </ol>
        </div>
    </div>
</div>
